CISCO_USERNAME = 'usuario' # Entre com o seu nome de usuário Cisco
CISCO_PASSWORD = 'senha' # Entre com a sua senha Cisco  
ARISTA_PASSWORD = 'usuario' # Entre com a sua senha Arista
ARISTA_USERNAME = 'senha' # Entre com o seu nome de usuário Arista

